@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.active-link {
  color: #219E64;
}


.form-label {
  @apply label text-[#001931] text-[18px] font-semibold pt-2;
}

.form-input {
  @apply w-full px-[15px] py-2 text-[#464545] text-[15px] outline-0 border border-[#219e648f] focus:border-[#219E64] bg-[#F3F3F3] rounded;
}

.google-button {
  @apply flex items-center justify-center gap-2 w-full border border-[#219E64] py-2 duration-200 bg-white hover:bg-[#219e6438] rounded text-[15px] text-[#141414] font-medium cursor-pointer;
}

.divider::before,
.divider::after {
  background: #219E64;
  height: 1px;
}